.git
.gitignore
.github
.idea
.vscode
*.iml
*.log
.DS_Store
Thumbs.db

**/node_modules
**/dist
**/.angular
**/.cache
**/coverage

**/target
**/.mvn/wrapper/maven-wrapper.jar

.env
.env.*
!.env.example
