POSTGRES_DB=metropulse
POSTGRES_USER=metropulse
POSTGRES_PASSWORD=metropulse
SPRING_PROFILES_ACTIVE=local
METROPULSE_INGEST_KEY=change-me
METROPULSE_OPERATOR_USERNAME=operator
METROPULSE_OPERATOR_PASSWORD=metropulse-dev-password
METROPULSE_SIMULATOR_SCENARIO=NORMAL_OPERATION
METROPULSE_SIMULATOR_SEED=42
METROPULSE_SIMULATOR_INTERVAL=PT2S
